*{
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans',sans-serif;

}

.login{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('img/DnD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    z-index: 0;
}

.col-8 label{
    color:white;
}
.col-8:focus{
    background: transparent;
}

.col-md-8 input{
    background-color: transparent;
    color:white;
}
.col-md-8:active{
    background: transparent;
}
.col-md-8 input::placeholder{
    color:white;
    background-color: transparent;
}