*{
    margin: 0;
    font-display: white;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans',sans-serif;

}

.charform{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('img/DnD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    
    color:white;
    text-align: center;
    font-size: 25px;
}

.charform form{
    display: inline-block;
    text-align: center;
}
.infoInput{
    text-align: center;
    display:block;
    align-items: center;
    font-size: 25px;
}
.charform h1{
    text-align: center;
}
.infoInput input{
    
    text-align: center;
    color: white;
}
.charform label{
    display: block;
    color:white;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.charform input{  
    display: block;
    width: 30%;
    padding: 5px 5px;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.4s;
}
.charform input[type = "submit"]{
    color: white;
}