*{
    margin: 0;
    font-display: white;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans',sans-serif;

}

.charform .classDiv{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('img/DnD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    
    color:black;
    text-align: center;
    font-size: 25px;
}

.charform form{
    display: inline-block;
    text-align: center;
}
.infoInput{
    text-align: center;
    display:block;
    align-items: center;
    font-size: 25px;
}

.infoInput:focus-within label{
    color: red;
}
.charform h1{
    text-align: center;
}
.infoInput input{
    background-color: white;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.charform label{
    display: block;
    color:black;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.charform input{  
    display: block;
    width: 30%;
    padding: 5px 5px;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.4s;
}
.charform input[type = "submit"]{
    background-image: linear-gradient(to right, white 50%, white 50%, green);
    background-size: 200%;
    transition: 0.4s;
    background-position: 0%;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin: 10px auto; 
}

.charform input[type = "submit"]:hover{
    background-position: 100%;
}