*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans',sans-serif;
}


.newuser{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('img/DnD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    color:white;
}
.newuser input{  
    display: block;
    width: 100%;
    padding: 5px 5px;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.4s;
}
.newuser label{
    display: block;
    color:white;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}
.newuser h1{
    text-align: center;
}